In [ ]:
# 3 month bond data is extracted for every working days from 2000 to 2022 and i generated an excel file 'libor_rate.xlsx' which contains this
#genrated file is attached to my submission

In [ ]:
import pandas as pd

# Read the Excel sheet into a pandas DataFrame
df = pd.read_excel('/content/ED Market Data.xlsx')
df

In [ ]:
start_row = 0
start_column = 0
end_row = df.shape[0] - 1

# Define the step size for columns as after every 6 columns there are dates value and next column contains the price at corresponding date
column_step = 6

# Create a new DataFrame to store the extracted data
#2 dataframes store dates and last price respectively in it
new_df1 = pd.DataFrame()
new_df2=pd.DataFrame()
# Iterate over columns
for column in range(start_column, df.shape[1]-6, column_step):

    last_row_index = df.iloc[:, column].last_valid_index()
    # Extract the values from the current column within the specified row range
    column_values = df.iloc[start_row:last_row_index+1, column].tolist()
    price_values=df.iloc[start_row:last_row_index+1, column+1].tolist()
    s=df.iloc[last_row_index,column]
    # Append the values to the new DataFrame as a single column
    new_df1 = pd.concat([new_df1, pd.Series(column_values)], axis=0, ignore_index=True)
    new_df2=pd.concat([new_df2, pd.Series(price_values)], axis=0, ignore_index=True)
    filtered_df = df[df.iloc[:,column+6] == s]

# Get the row numbers of the filtered rows
    start_row =filtered_df.index[0]+1
#now extract last commmodity vales
last_row_index = df.iloc[:, -6].last_valid_index()
column_values = df.iloc[start_row:last_row_index+1, -6].tolist()
price_values=df.iloc[start_row:last_row_index+1, -5].tolist()
new_df1 = pd.concat([new_df1, pd.Series(column_values)], axis=0, ignore_index=True)
new_df2=pd.concat([new_df2, pd.Series(price_values)], axis=0, ignore_index=True)
# Print the new DataFrame
print(new_df1)
print(new_df2)
combined=pd.concat([new_df1,new_df2],axis=1)
combined.to_excel('libor_rate.xlsx', index=False)

2459
                        0
0                    Date
1     2000-01-03 00:00:00
2     2000-01-04 00:00:00
3     2000-01-05 00:00:00
4     2000-01-06 00:00:00
...                   ...
5806  2022-12-13 00:00:00
5807  2022-12-14 00:00:00
5808  2022-12-15 00:00:00
5809  2022-12-16 00:00:00
5810  2022-12-19 00:00:00

[5811 rows x 1 columns]
               0
0     Last Price
1          93.78
2         93.795
3          93.79
4          93.79
...          ...
5806      95.255
5807      95.255
5808       95.26
5809     95.2575
5810     95.2617

[5811 rows x 1 columns]